
/** list of thhings needed t oadd in css:
    book
    book-box
    floating-book
    home-title
    button-box
    write
    home-grid
    social
    recom-title
    writers-title

/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Montserrat:wght@300&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #0a2342   ;
  --secondary-color: #136f63 ;
  --accent1-color: #b89685;
  --accent2-color: #b4d6d3;

  /* change the values below to your chosen font(s) */
  --heading-font: "Kalam";
  --paragraph-font: Montserrat, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #0A2342;  /* headlines on a white background */ 
  --headline-color-on-color: #b4d6d3; /* headlines on a colored background */ 
  --paragraph-color-on-white: #0a2342; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #136f63  ;
  --nav-link-color: #b4d6d3;
  --nav-background-color: #136f63;
  --nav-hover-link-color: #b4d6d3;
  --nav-hover-background-color: #0a2342;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}

header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%; 
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}


                    /*    NAV   */

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  padding: 1em;
  background-color: var(--paragraph-background-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  list-style-type: disc;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 20px;
  margin: 0 1em;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

#logo_link {
  padding-top: 5px;
  grid-column: 1/2;
}

.logo {
  width: 150px;
  grid-column: 1/2;
}



                        /*   HOME   */

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}


.button-box {
  text-align: center;
}

#floating-book {
  width: 30%;
}

#book-box {
  width: 30%;
  grid-column: 1/3
}

.home-title {
  margin-top: 20px;
  color: var( --headline-color-on-white);
}

.home-msg {
  grid-column: 1/6;
}


                          /*    FOOTER     */

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  background-color: var(--paragraph-background-color);
}





                      /*       BOOK RECOMMENDATIONS     */

/* create slideshow */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #136f63;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 30px 30px 0;
  user-select: none;
}

.prev {
  left: 20%;
  border-radius: 0px 0 0 0px; 
}
/* Position the "next button" to the right */
.next {
  right: 20%;
  border-radius: 0px 0 0 0px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #b4d6d3;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

